<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>URL Shortener</h1>
        <p class="subtitle">Convert long links into short & shareable URLs</p>

        <form action="/" method="post">
          <div class="input-group">
            <label for="url">Original URL</label>
            <input
              type="url"
              name="url"
              id="url"
              placeholder="https://example.com"
              required
            />
          </div>

          <div class="input-group">
            <label for="shortCode">Custom Short Code (Optional)</label>
            <input
              type="text"
              name="shortCode"
              id="shortCode"
              placeholder="my-link"
            />
          </div>

          <button type="submit">Shorten URL</button>
        </form>

        <h2>Shortened URLs</h2>
        <ul>
          <!-- Dynamic list -->
          <!-- {{shortened-url}} -->
       
      <!-- Object.entries(links)
        .map(
          ([shortCode, url]) =>
            `<li>
              <a href="/${shortCode}" target="_blank">${host}/${shortCode}
              </a> → ${url}
            </li>`,
        )
        .join(""), -->

       <% Object.entries(links).map(([short_code, url]) => {%>
        <li>
          <a href="/<%= short_code%>" target="_blank">
            <%= host%>/<%= short_code%>
          </a> - <%= url%>
        </li>
      <% }) %>
        </ul>
      </div>
    </div>
    <script></script>
  </body>
</html>
